node_modules/
dist/
build/
target/
.build/
.gradle/
.dart_tool/
.packages
bin/
obj/
*.class
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/
.rspec_status
.ruby-lsp/
pubspec.lock
package-lock.json
typescript/tsconfig.tsbuildinfo
